@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom peak styles for Quantum Playground */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

